/* Base */
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

/* Layout */
body {
  display: flex;
  flex-direction: column;
}

h1, p {
  margin: 0;
}

h1 {
  line-height: 1.8;
}

p {
  line-height: 1.5;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 40%;
  background: url(images/honnold.jpg) no-repeat;
  background-size: cover;
}

.box-container {
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
}

.circles {
  position: absolute;
  top: 10px;
  right: 20px;
}

.profile-container {
  padding: 20px 10px;
}

.btn-container {
  margin-top: 20px;
}

button {
  min-width: 90px;
  padding: 10px;
  background-color: transparent;
  border: 1px white solid;
  color: white;
  text-transform: uppercase;
}

button:first-child {
  margin-right: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  min-height: 100px;
}

.heading-box,
.footer-box {
  flex-basis: 100%;
}

.box p {
  margin-top: 10px
}

.icon {
  max-width: 40px;
  height: auto;
}

.left-arrow {
  margin-left: 10px;
}

.right-arrow {
  margin-right: 10px;
}

.heading-box,
.vertex {
  background-color: #BDBDBD;
}

.campfire {
  background-color: #E16036;
}

.mountains {
  background-color: #6C756B;
}

.carabiner {
  background-color: #93ACB5;
}

.tent {
  background-color: #808080;
}

.rock-climbing {
  background-color: #81171B;
}

.footer-box {
  background-color: #0292F2;
}


@media(min-width: 600px) {
  body {
    flex-direction: row-reverse;
  }

  .img-container,
  .box-container {
    flex: 1 1 50%;
  }

  .img-container {
    background-position-x: 10%;
  }
}

@media(min-width: 1160px) {
  .heading-box,
  .footer-box {
    flex-basis: 50%;
  }
}

@media(min-width: 1360px) {
  .box.heading-box,
  .box.footer-box {
    flex-basis: 100%;
  }
  .box {
    flex-basis: 33.3333%;
  }
}
